 <!-- <ul *ngFor="let user of userDetails">
    <app-header [data] = 'user'></app-header>
</ul> -->
<!-- -----------Data transfer from child to parent------- -->

<!-- <p>{{childValue}}</p>
 <app-header (updateValue)="updateValues($event)"></app-header> -->

<!-- ----------data transfer from parent to child ------------- -->
 <!-- <app-header [data] ="title"></app-header> -->
  <!-- <h1 class="title">{{title}}</h1> -->


<!-- -------------------Toggle----and-----template driven forms-------
<form #basicForm = "ngForm" (ngSubmit)="getData(basicForm.value)">
    <input type="text" ngModel  name="user" placeholder="Enter user name">
    <br /><br />
    <input type="text" ngModel name="email" placeholder="Write Email">
    <br /><br />
    <input type="text" ngModel name="password" placeholder="Enter your password">
    <br /><br />
    <button (click)="toggle()">Register</button> 
</form> -->

<!-- <ul *ngIf="display">
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
</ul> -->

<!-- ------------To do list--------
<h2>to do list</h2>
<input type="text" placeholder="enter new task" #task>
<br/> <br/>
<button (click)="addtask(task.value)">Add</button>
<br>
<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removetask(item.id)">Remove</button></li>
</ul> -->

<!-- --------------Reactive driven forms-------
<form [formGroup]="logindetails"  (ngSubmit)="loginUser()" >
    <input type="text" placeholder="Enter name" formControlName="name">
    <br>
    <span style="color: red;" *ngIf="name && name.invalid && name.touched">Please input value</span>
    <br>
    <input type="password" placeholder="Enter password" formControlName="password">
    <br>
    <span style="color: red;" *ngIf="password && password.invalid && password.touched">This field is not valid</span><br>
    <button [disabled]="logindetails.invalid">Login</button>
</form> -->

<!-- static, dynamic and child routing -->
<!-- <a routerLink="header">Header routing</a>
<br>
<a routerLink="home">Home</a>
<br>
<a routerLink="user">user</a>
<br>

<a routerLink="user/10">User1</a>
<br>
<a routerLink="user/2">User2</a>
<br>
<a routerLink="user/3">User3</a>
<br>
<router-outlet></router-outlet> -->

<!-- service in angular  -->
<!-- <ul>
    <li *ngFor="let data of member">
        {{data.name}} : {{data.age}}

    </li>
</ul>

<app-footer></app-footer> -->
<!-- 
Routing module in angular
<ul>
    <li>
        <a routerLink="login">Login</a>
        
    </li>
    <Li>
        <a routerLink="list">List</a>
    </Li>
</ul>

<router-outlet></router-outlet> -->

Lazy loading
<ul>
    <li>
        <a routerLink="admin/login">Login</a>
        
    </li>
    <Li>
        <a routerLink="admin/list">List</a>
    </Li>
</ul>

<router-outlet></router-outlet>

